# Gradle
.gradle
**/build/

# OS / IDE
.DS_Store
**/.DS_Store
.vscode/
.idea/
*.iml

# Outputs / binaries
*.class
gop/bin/
gop/build/
**/jpackage/

# Logs / data
data/
*.log
log_*.json
alert_*.json
docs/build/
package-lock.json
